<div class="demo">
  <div class="demo__mid">
    <div class="demo__close">
      <img class="demo__close-img" src="img/close.svg" alt="" />
      <div class="modal">
        <span class="modal__title">Оставьте свои данные, мы вам перезвоним</span>
        <form class="modal__tible">
          <div class="user-box">
            <label>Имя</label>
            <input type="text" name="" required="">
          </div>
          <div class="user-box">
            <label>Телефон</label>
            <input type="password" name="" required="">

          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
