<main>
  <div class="container">
    <ul class="group__btn">
      <li class="group__btn-item">Все</li>
      <li class="group__btn-item">Веб-сайты</li>
      <li class="group__btn-item">Приложения</li>
      <li class="group__btn-item">Дизайн</li>
      <li class="group__btn-item">Маркетинг</li>
    </ul>
    <div class="cards">
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
        <img src="img/portfolio/img.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Технокряк</span>
          <span class="cards__img_info-b">Веб-сайт</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
        <img src="img/portfolio/img_2.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
              <span class="cards__img_info-a"
              >Постер New Orlean vs Golden Star</span
              >
          <span class="cards__img_info-b">Дизайн</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
        <img src="img/portfolio/img_3.jpg" alt="img" />
          </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Ресторан Seafood</span>
          <span class="cards__img_info-b">Приложение</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_4.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Проект Prime</span>
          <span class="cards__img_info-b">Маркетинг</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_5.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Проект Boxes</span>
          <span class="cards__img_info-b">Приложение</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_6.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Inspiration has no Borders</span>
          <span class="cards__img_info-b">Веб-сайт</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_7.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Издание Limited Edition</span>
          <span class="cards__img_info-b">Дизайн</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_8.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Проект LAB</span>
          <span class="cards__img_info-b">Маркетинг</span>
        </div>
      </div>
      <div class="cards__img">
        <div class="cards__img-title">
          <p class="cards__img-title-text">Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.</p>
          <img src="img/portfolio/img_9.jpg" alt="img" />
        </div>
        <div class="cards__img_info">
          <span class="cards__img_info-a">Growing Business</span>
          <span class="cards__img_info-b">Приложение</span>
        </div>
      </div>
    </div>
  </div>
</main>
